* {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(163, 255, 255);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.brand-name {
  font-size: 36px;
}

.nav-container {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.nav-container li {
  padding: 0.5rem;
}

.nav-container li a {
  text-decoration: none;
  color: rgb(74, 103, 100);
}

/* Home */

.container {
  margin: 2rem;
}



.home-title {
  margin-bottom: 1rem;
}


.counter-container{
  min-height: 200px;
  background-color: lightblue;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.btn-plus, .btn-minus {
  padding: 0.3rem;
  background-color: #fff;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.son {
  font-size: 2.3rem;
}

.todo-container{
  min-height: 200px;
  background-color: rgb(62, 114, 132);
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.add-input, .add-btn{
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  outline: none;
  border: 1px solid #ccc;
}


.add-input{
  outline: none;
  border: 1px solid #fff;
}


.add-input:focus{
  border: 1px solid rgba(15, 57, 57, 0.275);
  box-shadow: 0 2px 7px rgba(13, 42, 89, 0.275);
}

.add-btn{
  background-color: #0f4950;
  color: #fff;
}

.add-btn:hover{
  box-shadow: 0 2px 7px #909090;
}










.todo{
  background-color: #0f4950;
  color: #fff;
  min-width: 300px;
  border-radius: 5px;
  padding: 0.75rem 0.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;


}

.todo-header{
  margin-bottom: 1rem;
}

.app-title{
  margin-bottom: 20px;
  color: #fff;
}